<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SprintWseLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <connectionStrings>
    <add name="SprintDatabase" connectionString="Data Source=38.101.234.50;Initial Catalog=sprint;Persist Security Info=True;User ID=321app"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <microsoft.web.services3>
    <security>
      <limits maxTokens="10" />
      <x509 allowTestRoot="false" revocationMode="Offline" verificationMode="TrustedPeopleOnly" skiMode="ThumbprintSHA1" verifyTrust="false" storeLocation="LocalMachine" />
      <binarySecurityTokenManager>
        <add valueType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3">
          <keyAlgorithm name="RSA15" />
          <sessionKeyAlgorithm name="AES128" />
        </add>
      </binarySecurityTokenManager>
      <defaultTtlInSeconds value="800" />
      <timeToleranceInSeconds value="86400" />
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
  </microsoft.web.services3>
  <applicationSettings>
    <SprintWseLibrary.Properties.Settings>
      <setting name="PingTestClient_com_sprint_webservicesgatewaytest_QueryCsaService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/QueryCsaService/v1</value>
      </setting>
      <setting name="userCertificateName" serializeAs="String">
        <value>CN=321com, OU=TPA, OU=BMP, OU=Projects, O=Sprint, C=us</value>
      </setting>
      <setting name="PingTestClient_com_sprint_webservicesgatewaytest1_WholesaleSubscriptionDetailService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesaleSubscriptionDetailService/v1</value>
      </setting>
      <setting name="PingTestClient_com_sprint_WholesaleSubscriptionModifyService_WholesaleSubscriptionModifyService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesaleSubscriptionModifyService/v1</value>
      </setting>
      <setting name="PingTestClient_com_sprint_WholesaleSubscriptionService_WholesaleSubscriptionService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesaleSubscriptionService/v1</value>
      </setting>
      <setting name="PingTestClient_com_sprint_WholesaleSwapSplit_WholesaleSwapSplit"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesaleSwapSplitService/v1</value>
      </setting>
      <setting name="PingTestClient_com_sprint_WholesaleUsageInquiryService_WholesaleUsageInquiryService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesaleUsageInquiryService/v1</value>
      </setting>
      <setting name="PingTestClient_com_sprint_WholesaleWnpService_WholesaleWnpService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesaleWnpService/v1</value>
      </setting>
      <setting name="PingTestClient_com_sprint_WholesalePortMessageService_WholesalePortMessageService"
        serializeAs="String">
        <value>https://webservicesgateway.sprint.com:444/services/mvno/WholesalePortMessageService/v1</value>
      </setting>
    </SprintWseLibrary.Properties.Settings>
  </applicationSettings>
</configuration>
