<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
	<system.diagnostics>
		<sharedListeners>
			<add name="sharedListener"
				 type="System.Diagnostics.XmlWriterTraceListener"
				 initializeData="C:\LogFiles\messages.svclog" />
		</sharedListeners>
		<sources>
			<source name="System.ServiceModel" switchValue="Verbose, ActivityTracing" >
				<listeners>
					<add name="sharedListener" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
				<listeners>
					<add name="sharedListener" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<system.serviceModel>
	  <services>
      <service name="SprintWCFService.SprintMVNE" behaviorConfiguration="SprintMVNEMEXBehavior">
        <endpoint address=""  binding="basicHttpBinding" contract="SprintWCFService.ISprintMVNE"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="SprintWCFService.ISprintMVNE"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/SprintMVNE"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="SprintMVNEMEXBehavior" >
          <serviceMetadata httpGetEnabled="true"  policyVersion="Policy12" />
			<serviceDebug includeExceptionDetailInFaults="true"/>
	    </behavior>
      </serviceBehaviors>
    </behaviors>
		<diagnostics performanceCounters="All" wmiProviderEnabled="True">
			<messageLogging
				 logEntireMessage="True"
				 logMalformedMessages="True"
				 logMessagesAtServiceLevel="True"
				 logMessagesAtTransportLevel="True"
				 maxMessagesToLog="3000"
				 maxSizeOfMessageToLog="30000"/>
		</diagnostics>

	</system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

	<microsoft.web.services3>
		<security>
			<limits maxTokens="10" />
			<x509 allowTestRoot="false" revocationMode="Offline" verificationMode="TrustedPeopleOnly" skiMode="ThumbprintSHA1" verifyTrust="false" storeLocation="LocalMachine" />
			<binarySecurityTokenManager>
				<add valueType="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-token-profile-1.0#X509v3">
					<keyAlgorithm name="RSA15" />
					<sessionKeyAlgorithm name="AES128" />
				</add>
			</binarySecurityTokenManager>
			<defaultTtlInSeconds value="800" />
			<timeToleranceInSeconds value="86400" />
		</security>
		<diagnostics>
			<trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
			<detailedErrors enabled="true" />
		</diagnostics>
	</microsoft.web.services3>
  
</configuration>
